@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body{
	font-family: "Swanky and Moo Moo";
}
.background{
	width: 100%;
	height: 100vh;
	background-image: url(img/end.gif);
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 18px;
}
.inside{
    width: 500px;
    background-color: #ffe4ff;
    padding: 28px 0;
    border-radius: 114px;
    border: 10px solid;
    border-color: white;
    position: absolute;
    bottom: 200px;
    right: 330px;
    padding: 20px 40px;
}
h1{
	text-align: center;
	font-size: 45px;
	color: mediumvioletred;
	margin: 0;
	line-height: 35px;
	color: #e84d87;
}
p{
	text-align: center;
	font-size: 25px;
	color: #c4386c;
	margin-bottom: 6px;
    margin-top: 0px;
}
h1 + img{
	display: block;
    width: 125px;
    margin: auto;
}
span{
	font-weight: bold;
    font-size: 25px;
	color: #e84d87;
}
.quiz{
	margin:auto;
    width: 539px;
	margin-bottom: 21px;
}
.gifs{
    width: 303px;
    height: 250px;
    position: absolute;
    z-index: 30;
}
.second{
    bottom: 100px;
    left: 450px;
}
.first{
    right: 224px;
}
.one{
    position: absolute;
    top: 59px;
    left: 413px;
    width: 237px;
    transform: rotate(-27deg);
    box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, .3);
}
.two{
    position: absolute;
    bottom: 90px;
    right: 146px;
    width: 250px;
    transform: rotate(20deg);
    box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, .3);
}
.three{
    position: absolute;
    bottom: 0;
    left: 112px;
    width: 400px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}