@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body{
	font-family: "Swanky and Moo Moo";
}
.background{
	width: 100%;
	height: 687px;
	background-image: url(img/firstbgr.jpg);
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 18px;
}
.inside{
	width: 700px;
	background-color: honeydew;
    padding: 28px 0;
    border-radius: 114px;
    border: 10px solid;
	border-color:#2383b5;
	margin: auto;
}
h1{
	text-align: center;
	font-size: 45px;
	color: mediumvioletred;
	margin: 0;
	line-height: 35px;
	color: #2d7499;
}
p{
	text-align: center;
	font-size: 25px;
	color: #2d627e;
	margin-bottom: 6px;
}
h1 + img{
	display: block;
    width: 125px;
    margin: auto;
}
span{
	font-weight: bold;
    font-size: 25px;
	color: #2d7499;
	font-family: Lobster;
}
.quiz{
	margin:auto;
	width: 492px;
	margin-bottom: 21px;
}
a{
	margin-left: 400px;
	display: block;
    width: 177px;
    height: 38px;
    border-radius: 30px;
	text-align: center;
	border: 4px solid;
	font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    color: #2d627e;
	border-color: #2d627e;
	background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 19%, rgba(35,131,181,1) 100%);
}
a:hover{
	background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 19%, rgba(35,131,181,1) 100%);
}
.gifs{
    width: 258px;
    height: 312px;
    position: absolute;
}
.second{
    bottom: 28px;
    left: 295px;
    right: 319px;
}
.first{
    right: 319px;
}
.one{
    position: absolute;
    top: 80px;
    left: 153px;
    width: 250px;
    transform: rotate(-25deg);
    box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, .3);
}
.two{
    position: absolute;
    bottom: 112px;
    left: 49px;
    width: 250px;
    transform: rotate(15deg);
    box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, .3);
}
.three{
	position: absolute;
    top: 112px;
    right: 79px;
    width: 250px;
    transform: rotate(15deg);
    box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, .3);
}
.four{
    position: absolute;
    bottom: 99px;
    right: 79px;
    width: 279px;
    transform: rotate(-21deg);
    box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, .3);
}
#answer{
	width: 240px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
input[type="radio"]:checked {
  margin-left: 25px;
}